@font-face {
    font-family: "ISOCTEUR";
    src: url("fonts/ISOCTEUR.ttf");
}

html {
    font-family: "ISOCTEUR", sans-serif;
}

svg {
    font-family: "ISOCTEUR", sans-serif;
    width: 100%;
    height: 100%;
}

a {
    color: black;
    text-decoration: none;
}

.about {
    font-size: 15px;    
    text-align: justify;
    background-color: white;
}

.about-img {
    width: 100%;
    height: 100%;
}

.whereTo {
    padding-right: 100px;
}

.menu {
    background-color: white;
}

.equals {
    text-align: end;
}
